@media (min-width: 768px) {
	.card {
		padding: 15px;
	}
}
.select2{
	.select2-selection{
		padding: 0.375rem 1rem !important;
		.select2-selection__rendered{
			font-size: 0.875rem;
			height: 100%;
			margin-top: 5px;
		}
	}
	.select2-results__option{
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
	}
}
