@import '_variable';
.table{
  white-space: nowrap;
  tr{
    td{
      vertical-align: middle !important;
    }
    td:first-child{
      text-align: center;
    }
    td:last-child{
      white-space: nowrap;
      text-align: center;
      .btn{
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .kode-warna{
      color: $putih;
      font-weight: bold;
    }
    th{
      text-align: center;
    }
  }
}
