@import '_variable';
.table{
  white-space: nowrap;
  tr{
    td{
      vertical-align: middle !important;
      .thumb48{
        margin-right:9px;
      }
    }
    td:first-child{
      text-align: center;
    }
    td:last-child{
      white-space: nowrap;
      text-align: center;
      .btn{
        margin-left: 0px;
        margin-right: 0px;
      }
      @media (max-width:$breakpoint-md) {
        .btn {
          font-size:0;
        }
        .fa {
          font-size:initial;
          margin:2px;
        } 
      }
    }
    th{
      text-align: center;
    }
  }
}
