.table{
  white-space: nowrap;
  tr{
    td{
      vertical-align: middle !important;
      .thumb48{
        margin-right:9px;
      }
    }
    td:first-child{
      text-align: center;
    }
    td:last-child{
      white-space: nowrap;
      text-align: center;
      .btn{
        margin-left: 0px;
        margin-right: 0px;
      }
      @media (max-width:$breakpoint-md) {
        .btn {
          font-size:0;
          border-radius: 50%;
          width:32px;
          height:32px;
          padding:8px 9px !important;
        }
        .fa {
          font-size:0.8125rem;
        }
      }
    }
    th{
      text-align: center;
    }
  }
}
