.login-block {
	background: #23B7E7;
	background: -webkit-linear-gradient(to bottom, #FFB88C, #23B7E7);
  background: linear-gradient(to bottom, #FFB88C, #23B7E7); 
  float:left;
	width: 100%;
	height: inherit;
	padding: 50px 0;
}

.banner-sec {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/front-img.jpg);
	// background: url(/img/front-img.jpg) no-repeat left bottom;
	background-size: cover;
	min-height: 500px;
	border-radius: 0 10px 10px 0;
	padding: 0;
}

.container {
	background: #fff;
	border-radius: 10px;
	// box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.container-login{
		margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login-sec{
	padding: 50px 30px;
	position: relative;
	h2 {
		margin-bottom: 30px;
		font-weight: 800;
		font-size: 30px;
		color: #23B7E7;
	}
	h2:after {
		content: " ";
		width: 100px;
		height: 5px;
		background: #FEB58A;
		display: block;
		margin-top: 20px;
		border-radius: 3px;
		margin-left: auto;
		margin-right: auto;
	}
	.link-text{
		position:absolute; 
		width:80%; 
		bottom:50px; 
		font-size:13px; 
		text-align:left;
	}
}

.banner-text{
	width: 70%;
	position: absolute;
	bottom: 40px;
	padding-left: 20px;
	h2{
		color: #fff;
		font-weight: 600;
	}
	h2:after{
		content: " ";
		width: 100px;
		height: 5px;
		background: #FEB58A;
		display: block;
		margin-top: 20px;
		border-radius: 3px;
	}
	p{
		color: #fff;
	}
}